    .btn-circle.btn-xl {
        width: 100px;
        height: 100px;
        padding: 13px 18px;
        border-radius: 60px;
        font-size: 15px;
        text-align: center;
    }
    .background{
        
        background-image: url('/img/background.jpg');
        background-size: cover;
        /* background-position: center; */
        background-attachment: fixed;
    }
    .logincard{
        border-style:solid;
        border-radius:1rem;
        
    }
    .foot{
        text-align: center;
        position:static;
        bottom: 0;
        width: 100%;
        background-color:rgb(63, 62, 62);
        color: white;
    }
    @media (max-width : 768px){
        .foot{
            text-align: center;
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color:rgb(63, 62, 62);
            color: white;
        }
    }
    .navbar{
        background-color: rgb(61, 66, 83);
        color: white;
    }
    .card{
        background-color: rgb(181, 240, 206);
        height: 350px;
        border-color: rgb(2, 0, 4);
        border-radius: 10px;
        border-style: solid;
        border-width: 3px;
        
    }
    .connect{
        margin-top: 12.5%;
        margin-bottom: 12.5%; 
        display: flex; 
        justify-content: center; 
        align-items: center; 
    }
    .card1{
        background-color: rgb(240, 240, 235);
        border-style:solid;
        border-radius:3rem;
        border-color: rgb(89, 231, 124);

    }
    .card2{
        background-color: beige;
        border-style:solid;
        border-radius:3rem;
        border-color: blue;
    }
    .card3{
        background-color: beige;
        border-style:solid;
        border-radius:3rem;
        border-color:blue;
    }
    #amount{
        text-align: right;
    }
    #alert{
        background-color: rgb(250, 250, 180);
        margin-top: 2%;
        border-style: solid;
        border-width: 0.1px;
        border-color: red;
        border-radius: 0.4rem;
    }
    .form-control{
        border-color: black;
        border-style: solid ;
    }
    #logo{
      text-align: center;
      font-style: italic;
      color: rgb(19, 20, 20);
      margin-top: 2px;
    }
    .cpybtn{
        background-color: green !important;
        
    }
    #LogoName{
        font-style: normal;
    }
    .option{
        text-align: center;
    }
    .top{
        text-align: center;
       font-family: cursive;
    }
    #title:hover::before{
        content : " my ethereum wallet";
        /* visibility: hidden; */
    }
    .center{
        text-align: center;
        align-items: center;
        align-self: center;
        align-content: center;
    }
    
    .formWidth{
        width: 100px;
    }